{:bind {:addr "127.0.0.1"
        :port 8080}

 :http {:static-path nil}

 :library {:path     "library"
           :auto-dj? false}

 :info {:name          "AirHead"
        :greet-message "Welcome!"}

 :icecast {:addr     "127.0.0.1"
           :port     8000
           :username "source"
           :password "hackme"
           :mount    "airhead"}}
