{:addr        "127.0.0.1"
 :port        8080
 :static-path "../frontend/resources/public"

 :library-path "library"
 :auto-dj?     false

 :info {:name       "AirHead"
        :message    "Welcome!"
        :stream-url "http://localhost:8000/airhead"}

 :icecast {:addr     "127.0.0.1"
           :port     8000
           :username "source"
           :password "hackme"
           :mount    "airhead"}}
