[GENERAL]
Debug = True
Frontend = /tmp/airhead/frontend
Library = /tmp/airhead/library

[ICECAST]
Host = 127.0.0.1
Port = 8000
Username = source
Password = hackme
Mount = airhead

[FFMPEG]
Exe = /usr/bin/ffmpeg

[INFO]
Name = AirHead
GreetMessage = Welcome!
