[GENERAL]
Debug = True
Address = 127.0.0.1
Port = 8080
Library = /tmp/airhead/library
Frontend = /tmp/airhead/frontend

[INFO]
Name = AirHead
GreetMessage = Welcome!

[ICECAST]
Host = 127.0.0.1
Port = 8000
Username = source
Password = hackme
Mount = airhead

[FFMPEG]
Exe = /usr/bin/ffmpeg
