{% extends "base.html" %}
{% block body %}
{% if tracks %}
<table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Import date</th>
        <th>Enqueue</th>
    </tr>
{% for track in tracks %}
    <tr>
        <td>{{ track.title }}</td>
        <td>{{ track.artist }}</td>
        <td>{{ track.album }}</td>
        <td>{{ track.import_date }}</td>
        <td><a href="#" onclick="enqueue('{{ track.uuid }}')">Enqueue</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No tracks found!</p>
{% endif %}

<script type="text/javascript">
function enqueue(uuid) {
    var url = '/api/queue/' + uuid;

    console.log(url)

    var request = new XMLHttpRequest();
    request.open('PUT', url, true);
    request.send()
}
</script>
{% endblock %}
